# Household counts in villages

This data combines the counts of households present and surveyed in each of the villages in our survey.  Joshua Ferrer provided this data and this is a modified version of his work.

I take this data and add the access type and then sum over the different access types.  It looks like community microgrid have the highest survey rate at 95% while PLN grid has the lowest at 67%.

In [1]:
from io import StringIO
import pysentani as sti
import pandas as pd

In [2]:
raw_csv = '''village_name,Official_count,Sat_Count,Village_Surveyed
Abar,40,45,46
Ajau_Evale_Hobong,100,84,56
Asei,40,40,29
Atamali,40,38,35
Ayapo,120,140,120
Babrongko, 65,120,67
Burawai,20,16,8
Donday,50,57,50
Doyo_Lama,N/A,N/A,N/A
Ebunfauw,50,39,36
Flafow,N/A,N/A,N/A
Kalio,40,39,30
Kampung_Baru,25,54,36
Kensio,20,19,19
Khageuw,15,27,16
Khamayakha,50,104,14
Kheleubulow,N/A,N/A,52
Kwadeware,30,27,30
Obolyo,18,18,11
Pantai_Yahim,30,27,13
Puai,60,80,74
Simporo,65,113,62
Sosiri,N/A,N/A,96
Tanjung_Elmo,N/A,N/A,N/A
Yakonde,70,55,59
Yobeh,40,38,34
Yoboi,70,64,49
Yoka,150,193,28
Yokiwa,80,64,43'''

data = pd.read_csv(StringIO(raw_csv))
data['access_type'] = sti.access_type(data)
data.head()

,village_name,Official_count,Sat_Count,Village_Surveyed,access_type
0,Abar,40,45,46,no_access
1,Ajau_Evale_Hobong,100,84,56,PLN_grid
2,Asei,40,40,29,PLN_grid
3,Atamali,40,38,35,community_microgrid
4,Ayapo,120,140,120,PLN_microgrid

In [3]:
aggregated = data.groupby('access_type').sum()
aggregated['fraction_surveyed'] = aggregated['Village_Surveyed'] / aggregated['Sat_Count']
aggregated

,Official_count,Sat_Count,Village_Surveyed,fraction_surveyed
access_type,,,,
PLN_grid,660,817,548,0.670747
PLN_microgrid,170,197,170,0.862944
community_microgrid,60,57,54,0.947368
no_access,398,430,341,0.793023