In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from drs_sentani import get_survey
survey = get_survey()
import pysentani as sti

In [25]:
survey['access_type'] = sti.access_type(survey)

Null values are mapped to True values when we convert to boolean

In [14]:
test = pd.Series([True, False, np.nan]).astype(bool)
test

0     True
1    False
2     True
dtype: bool

It appears that the non-response pattern is the same for each appliance.

In [46]:
# select for households only?
# select columns relevant to appliances
# drop rows with any non-response values (per appliance?)


survey[['app_now/fan', 'app_buy/fan', 'app_now/fridge', 'app_buy/fridge', 'app_now/TV', 'app_buy/TV']].head()

,app_now/fan,app_buy/fan,app_now/fridge,app_buy/fridge,app_now/TV,app_buy/TV
0,0,0,0,1,1,0
1,0,NaN,0,NaN,1,NaN
2,0,1,0,1,1,0
3,0,NaN,0,NaN,1,NaN
4,0,1,0,1,0,1

Here is an attempt to see the relative proportions of true, false, and null values by each access type category.  We have to do some inelegant stuff to get a count.

In [45]:
# replace NaN with string value to facilitate group by
temp = survey[['access_type', 'app_buy/fan']].fillna('no response')

# unnecessary complication
# create a column of all non-null values to get count to work 
temp['dummy'] = temp['app_buy/fan'].astype(bool)

temp.groupby(['access_type', 'app_buy/fan']).count()

                                 dummy
access_type         app_buy/fan
PLN_grid            0.0            352
                    1.0             74
                    no response    193
PLN_microgrid       0.0            108
                    1.0              9
                    no response     53
community_microgrid 0.0             29
                    1.0             17
                    no response      8
no_access           0.0            158
                    1.0             51
                    no response    132