# Example of joining dataframes

In [1]:
from io import StringIO
import pandas as pd
raw_csv = '''village_name,count
Abar,40
Asei,40
Atamali,40
Babrongko,60
Yokiwa,80'''
count = pd.read_csv(StringIO(raw_csv))
count

  village_name  count
0         Abar     40
1         Asei     40
2      Atamali     40
3    Babrongko     60
4       Yokiwa     80

In [2]:
raw_csv = '''village_name,access_type
Abar,no_access
Asei,PLN_grid
Atamali,community_microgrid
Simporo,PLN_grid
Yokiwa,no_access'''
access = pd.read_csv(StringIO(raw_csv))
access

  village_name          access_type
0         Abar            no_access
1         Asei             PLN_grid
2      Atamali  community_microgrid
3      Simporo             PLN_grid
4       Yokiwa            no_access

In [3]:
pd.merge(count, access, on='village_name', how='inner')

  village_name  count          access_type
0         Abar     40            no_access
1         Asei     40             PLN_grid
2      Atamali     40  community_microgrid
3       Yokiwa     80            no_access

In [4]:
pd.merge(count, access, on='village_name', how='outer')

  village_name  count          access_type
0         Abar     40            no_access
1         Asei     40             PLN_grid
2      Atamali     40  community_microgrid
3    Babrongko     60                  NaN
4       Yokiwa     80            no_access
5      Simporo    NaN             PLN_grid